<!DOCTYPE html>
<html lang="en">
  <%- include('partial/head') %>
<body>

  <img class="imagelogo" src="./images/icono.png" alt="" srcset="">
  <form class="formularioLogin" action="/users/login" method="post">
    <div>
      <input type="text" name="user" >
      <label for="user">Mail</label>
    </div>
    <div>
      <input type="password" name="pass" >
      <label for="pass">Pass</label>
    </div>
    <div class="entrada">
      <input type="submit" class="btn btn-success" value="Entrar" >
      <input type="button" class="btn btn-danger" value="Volver" >
    </div>
    <div>
      <a href="/register">Eres nuevo?</a>
    </div>
  </form>
</body>
</html>