<!DOCTYPE html>
<html lang="es">
<%- include('partial/head') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
  <%- include('partial/menubarPrincipal') %>
  <main class="PrincipalMain">

    <section class="Principal">
      <article>
        <div>
          <a href="#">
            <img src="./images/qr.svg" alt="" srcset="">
            <section></section>
            <p>Pagar con Qr</p>
          </a>

        </div>
        <div>
          <a href="#">
            <img src="./images/payment.jpg" alt="" srcset="">
            <section></section>
            <p>Cobrar con Qr</p>
          </a>

        </div>

        <div>
          <a href="#">
            <img src="./images/movimientos.jpg" alt="" srcset="">
            <section></section>
            <p>Movimientos</p>
          </a>
        </div>
        <div>
          <a href="">
            <img src="./images/pagar.jpg" alt="" srcset="">
            <section></section>
            <p>Enviar Dinero</p>
          </a>

        </div>

      </article>

    </section>
    <section>

    </section>




  </main>




</body>


<!-- SCRIPTS -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>


</html>